<h1>Salut!</h1>
   <p>
     Quelqu'un s'est inscrit à ton événement <%= @event.title %> le <%= @event.start_date %>.
   </p>
   <p>
     Pour accéder à ton événement, connecte-toi via : <%= @url %>.
   </p>
   <p> À très vite sur eventbriteclone.fr !
