<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous communiquons avec vous pour vous aviser que votre adresse électronique est modifiée et devient <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous communiquons avec vous pour vous aviser que votre adresse électronique a été changée en <%= @resource.email %>.</p>
<% end %>
